@model ProjectCinema.Models.Tickets

<h2>Details Tickets</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOVIENAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOVIENAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOWTIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOWTIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COST)
        </dd>

    </dl>

    @*<div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Buy Now" class="btn btn-default" />
    </div>
    *@
</div>
    <p>
       <a href="@Url.Action("ShoppingCart", "Cart", new { id = Model.ID })">See your shopping cart</a>
    </p>
    <p>
       <a href=@Url.Action("Index","Payment")>Buy Now</a>
    </p>


}
